// Estilos generales
.container-author-form {
    margin: auto;
    padding: 20px;
    border: 1px solid #868686;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-height: auto;
    min-width: auto;
    max-width: 80%;
    margin-bottom: 5%;

    .head_cont {
      margin-bottom: 20px;
  
      h1 {
        font-size: 24px;
        color: #333;
      }
    }
  
    .list {
    //  background-color: #007bff;
       position: relative;
        padding-bottom: 25%;
      form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 75px;
        min-width: auto;
        min-height: auto;
      
        .form-group {
          width: 100%;
          label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
          }

          input
         {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
          }

          select {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;  
            max-height:100px;   
            min-height:100px;  
             
          }
          textarea {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;  
            max-height:120px;   
            min-height:120px;  
            
          }
          
          &.full-row {
            grid-column: span 2; 
          }
        }
      
        .buttons-author{
          position: absolute;
          // background-color: rebeccapurple;
          bottom: 0;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          
          button{
              background: none;
              border: none;
              cursor: pointer;
          }
        }
       
      }
      .buttons{
        position: absolute;
        right: 0;
        bottom: 0;
        margin-top: 0rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
        button{
            background: none;
            border: none;
            cursor: pointer;
        }
      }
      
    }
  }
  @media screen and (max-width:758px) {
    .container-author-form {
      form{
        min-width: 90vh;
      }
     
    
     
      }
    }
@media screen and (max-width:358px) {
    .container-author-form {
        margin: auto;
        max-width: 90%;
    
     
      }
    }
  