#container-author-list{
    // min-height: 70vh;
    // background-color: red;
    width: 90%;
    margin-top: -2%;
   
    .buttons{
        margin: auto;
        border-bottom: 1px black solid ;
        width: max-content;
        gap: 0;

        h4{
            padding-right: 5px;
            border-right: 1px black solid ;
            font-size: 2rem;
            text-align: center;
        }
        button{
            margin-left: 5px;
            text-align: center;
        }
    }

    .list {
        height: auto;
        // background-color: aqua;
        margin-top: 2%;

        .container-authors{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;

            .container-author{
                list-style: none;
                width: auto;
                min-width: 18%;
                min-height: 100px;
                max-height: 100px;

                a{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(105, 105, 105, 0.473);
                    text-decoration: none;
                    color:rgb(0, 0, 0);
                    margin: auto;
                    padding: 0 10px 0 10px;
                    border: 2px solid rgba(0, 0, 0, 0.651);
                    border-radius: 50px;
                    width: 100%;

                    img{
                        background-color: antiquewhite;
                        border-radius: 50%;
                        // display: none;
                        width: 50px;
                        min-width: 40px;
                        height: 50px;
                    }
             

                    .info-author{
                        min-width: 50%;
                        max-width: 80%;
                        margin-bottom: 10px;
                        // background-color: red;
                        h2 {

                            text-align: center;
                            padding: 10px;
                            margin: auto;
                            font-size: small;
                            // background-color: antiquewhite;
                            width: 80%;
                            // display: inline-block;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                  
                        p{
                            font-size: small;
                            text-align: center; 
                    
                        }
                    }
                }
                a:hover{
                    border: 2px solid rgba(255, 255, 255, 0.651);
                    background-color: rgba(163, 163, 163, 0.692);
                    img{
                        transform: scale(1.4);
                    }
                }
            }
         
        }
    }
}

@media screen and (min-width:800px) {
  
}
        

