@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Caveat:wght@400;600;700&family=Foldit:wght@100;400;500;600;700&family=Lilita+One&family=Permanent+Marker&family=Press+Start+2P&family=Rubik+Iso&display=swap");
section#container-books {
  display: flex;
  flex-flow: column wrap;
  width: 80%;
  min-height: auto;
  height: auto;
  margin-top: -2%;
}
section#container-books .buttons {
  margin: auto;
  border-bottom: 1px black solid;
  width: max-content;
  gap: 0;
}
section#container-books .buttons h4 {
  padding-right: 5px;
  border-right: 1px black solid;
  font-size: 2rem;
  text-align: center;
}
section#container-books .buttons button {
  margin-left: 5px;
  text-align: center;
}

.wrapper-card {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: 100%;
  margin-bottom: 5%;
}

.card {
  flex: 1;
  flex-basis: 200px;
  flex-grow: 0;
  height: 300px;
  background: #fff;
  box-shadow: 10px 10px rgb(50, 51, 51);
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
  margin-top: 3%;
  margin-right: 1%;
}

.card img {
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}

.card:hover .descriptions {
  left: 0px;
  transition: all 0.7s ease-in-out;
  clip-path: circle(75%);
}

.card:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}

.card:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}

.card h1 {
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px;
}

.card p {
  line-height: 24px;
  height: 70%;
}

.card button {
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: #ff3838;
  color: #fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}

.card button:hover {
  transform: scale(0.95) translateX(-5px);
  transition: all 0.5s ease-in-out;
}

.botoms {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.empty {
  background-color: rgba(112, 111, 111, 0.2862745098);
  padding: 20px;
  width: 50%;
  height: auto;
  max-height: 100%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: -10px 10px rgb(50, 51, 51);
  border-radius: 5px;
}
.empty .first-title {
  font-size: 2rem;
  font-weight: 600;
}
.empty .second-title {
  font-size: 1.5rem;
}
.empty .emoji-404 {
  margin: 20px;
  position: relative;
  animation: mymove 2.5s infinite;
}
.empty button {
  border: 1px rgb(37, 37, 37) solid;
  border-radius: 5px;
  box-shadow: -4px 4px rgb(50, 51, 51);
  background-color: #e2e2e2;
  margin-top: 5%;
  padding: 15px;
  cursor: pointer;
}
.empty button:hover {
  background-color: #555555;
  color: rgb(255, 208, 0);
  transition: 0.5s;
  box-shadow: 0px 0px rgb(50, 51, 51);
}
@keyframes mymove {
  33% {
    top: 0px;
  }
  66% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}

@media screen and (max-width: 350px) {
  .empty {
    padding: 10px 0 10px 0;
  }
}
#container-book-detail {
  width: 70%;
  min-height: 50vh;
  height: auto;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 10%;
  margin-top: 2%;
}
#container-book-detail img {
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  height: 400px;
  margin-bottom: 2rem;
  box-shadow: -10px -10px rgb(50, 51, 51);
  cursor: pointer;
  margin-top: 3%;
  margin-right: 3%;
}
#container-book-detail .detail {
  width: 60%;
  min-height: 50vh;
  padding: 10px;
  margin-right: 10px;
  box-shadow: -10px -10px 20px 0px rgb(50, 51, 51);
  border-radius: 5px;
}
#container-book-detail .detail span {
  color: black;
}
#container-book-detail .detail h3 {
  margin-bottom: 1rem;
}
#container-book-detail .detail ul {
  letter-spacing: 0.1px;
  list-style: none;
  text-align: left;
  font-size: 1em;
}
#container-book-detail .detail ul li {
  margin-top: 1.5rem;
}
#container-book-detail .detail ul li .links-dowload-book {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#container-book-detail .detail ul span {
  font-weight: 700;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.buttons button {
  background: none;
  border: none;
  cursor: pointer;
}
.buttons button:hover {
  transform: scale(1.2);
}

.modal-delete-book {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.modal-delete-book .modal-content {
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}
.modal-delete-book .modal-content span {
  width: 100%;
  text-align: right;
  cursor: pointer;
}
.modal-delete-book .modal-content h2 {
  color: #333;
  margin-bottom: 10px;
}
.modal-delete-book .modal-content p {
  color: #363636;
  margin-bottom: 10%;
}
.modal-delete-book .modal-content button {
  padding: 8px 16px;
  background: #a82c1e;
  font-size: medium;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}
.modal-delete-book .modal-content button:hover {
  background: #ff1900;
  transform: scale(1.2);
}
.modal-delete-book .modal-content a {
  margin-left: 5px;
  background: #ccc;
  font-size: medium;
  padding: 8px 16px;
  color: black;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.modal-delete-book .modal-content a:hover {
  background: #ddd;
}

@media screen and (max-width: 1000px) {
  #container-book-detail {
    width: 100%;
    min-height: 70vh;
  }
  #container-book-detail img {
    flex-basis: 200px;
    height: 300px;
  }
  #container-book-detail .detail {
    width: 70%;
    min-height: 40vh;
    max-height: auto;
    margin-right: 0px;
  }
}
@media screen and (max-width: 768px) {
  #container-book-detail img {
    flex-basis: 150px;
    height: 200px;
    margin-left: 5%;
    margin-right: 0%;
    box-shadow: -5px -5px rgb(50, 51, 51);
  }
  #container-book-detail .detail {
    width: 70%;
    margin-right: 5%;
    margin-left: 3%;
  }
}
@media screen and (max-width: 450px) {
  #container-book-detail {
    min-height: auto;
    padding: 20px;
  }
  #container-book-detail img {
    height: 100px;
    height: 250px;
    margin-left: 1%;
  }
  #container-book-detail .detail {
    width: 70%;
    margin-right: 1%;
    margin-left: 3%;
  }
  .buttons {
    margin-top: 2rem;
    gap: 2rem;
  }
  .buttons button span {
    font-size: 1.3rem;
  }
}
.container-book-form {
  margin: auto;
  margin-bottom: 10%;
  padding: 20px;
  border: 1px solid #868686;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  min-height: auto;
  max-width: 90%;
  position: relative;
}
.container-book-form .head_cont {
  margin-bottom: 20px;
}
.container-book-form .head_cont h1 {
  font-size: 24px;
  color: #333;
}
.container-book-form .list form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  min-width: auto;
  min-height: 70vh;
}
.container-book-form .list form .form-group {
  width: 100%;
  margin-bottom: 15px;
}
.container-book-form .list form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.container-book-form .list form .form-group input,
.container-book-form .list form .form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.container-book-form .list form .form-group textarea {
  width: 200%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  max-height: 150px;
  min-height: 150px;
}
.container-book-form .list form .buttons {
  position: absolute;
  bottom: 10px;
}

@media screen and (max-width: 680px) {
  .form-group:last-child {
    margin-bottom: 10rem;
    color: red;
  }
}
@media screen and (max-width: 358px) {
  .container-book-form {
    margin: auto;
    max-width: 90%;
  }
}
#container-author-list {
  width: 90%;
  margin-top: -2%;
}
#container-author-list .buttons {
  margin: auto;
  border-bottom: 1px black solid;
  width: max-content;
  gap: 0;
}
#container-author-list .buttons h4 {
  padding-right: 5px;
  border-right: 1px black solid;
  font-size: 2rem;
  text-align: center;
}
#container-author-list .buttons button {
  margin-left: 5px;
  text-align: center;
}
#container-author-list .list {
  height: auto;
  margin-top: 2%;
}
#container-author-list .list .container-authors {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
#container-author-list .list .container-authors .container-author {
  list-style: none;
  width: auto;
  min-width: 18%;
  min-height: 100px;
  max-height: 100px;
}
#container-author-list .list .container-authors .container-author a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(105, 105, 105, 0.473);
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: auto;
  padding: 0 10px 0 10px;
  border: 2px solid rgba(0, 0, 0, 0.651);
  border-radius: 50px;
  width: 100%;
}
#container-author-list .list .container-authors .container-author a img {
  background-color: antiquewhite;
  border-radius: 50%;
  width: 50px;
  min-width: 40px;
  height: 50px;
}
#container-author-list .list .container-authors .container-author a .info-author {
  min-width: 50%;
  max-width: 80%;
  margin-bottom: 10px;
}
#container-author-list .list .container-authors .container-author a .info-author h2 {
  text-align: center;
  padding: 10px;
  margin: auto;
  font-size: small;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#container-author-list .list .container-authors .container-author a .info-author p {
  font-size: small;
  text-align: center;
}
#container-author-list .list .container-authors .container-author a:hover {
  border: 2px solid rgba(255, 255, 255, 0.651);
  background-color: rgba(163, 163, 163, 0.692);
}
#container-author-list .list .container-authors .container-author a:hover img {
  transform: scale(1.2);
}

#container-author-detail {
  width: 80%;
  min-height: 10vh;
  height: auto;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 1%;
  margin-bottom: 4%;
}
#container-author-detail img {
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  height: 400px;
  margin: 2rem;
  box-shadow: -15px -3px 5px 5px rgb(50, 51, 51);
  cursor: pointer;
  margin-top: 3%;
  border-radius: 50%;
}
#container-author-detail .detail {
  width: 60%;
  min-height: 50vh;
  padding: 10px;
  box-shadow: -10px -10px 20px 0px rgb(50, 51, 51);
  border-radius: 5px;
}
#container-author-detail .detail span {
  color: black;
}
#container-author-detail .detail h2 {
  margin: 1rem 0 1rem 0;
}
#container-author-detail .detail h3 {
  margin: 2rem 0 0rem 0;
}
#container-author-detail .detail ul {
  letter-spacing: 0.1px;
  list-style: none;
  text-align: left;
  font-size: 1em;
}
#container-author-detail .detail ul li:nth-last-child(1), #container-author-detail .detail ul li:nth-last-child(2) {
  margin-top: 1.5rem;
}
#container-author-detail .detail ul span {
  font-weight: 700;
}

.modal-delete-author {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.modal-delete-author .modal-content {
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}
.modal-delete-author .modal-content span {
  width: 100%;
  text-align: right;
  cursor: pointer;
}
.modal-delete-author .modal-content h2 {
  color: #333;
  margin-bottom: 10px;
}
.modal-delete-author .modal-content p {
  color: #363636;
  margin-bottom: 10%;
}
.modal-delete-author .modal-content button {
  padding: 8px 16px;
  background: #a82c1e;
  font-size: medium;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}
.modal-delete-author .modal-content button:hover {
  background: #ff1900;
  transform: scale(1.2);
}
.modal-delete-author .modal-content a {
  margin-left: 5px;
  background: #ccc;
  font-size: medium;
  padding: 8px 16px;
  color: black;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.modal-delete-author .modal-content a:hover {
  background: #ddd;
}

@media screen and (max-width: 1000px) {
  #container-author-detail {
    width: 90%;
    min-height: 70vh;
  }
  #container-author-detail img {
    flex-basis: 200px;
    height: 300px;
  }
  #container-author-detail .detail {
    width: 70%;
    min-height: 40vh;
    max-height: auto;
    margin-right: 0px;
  }
}
@media screen and (max-width: 768px) {
  #container-author-detail {
    min-height: auto;
  }
  #container-author-detail img {
    flex-basis: 150px;
    height: 200px;
    margin-left: 5%;
    margin-right: 2%;
    box-shadow: -5px -3px 5px 5px rgb(50, 51, 51);
  }
  #container-author-detail .detail {
    width: 70%;
    margin-right: 5%;
    margin-left: 3%;
  }
}
@media screen and (max-width: 450px) {
  #container-author-detail {
    min-height: auto;
    padding: 20px;
  }
  #container-author-detail img {
    height: 100px;
    height: 250px;
    margin-left: 1%;
  }
  #container-author-detail .detail {
    width: 70%;
    margin-right: 1%;
    margin-left: 3%;
  }
  .buttons {
    margin-top: 2rem;
    gap: 1rem;
  }
  .buttons button span {
    font-size: 1.3rem;
  }
}
.container-author-form {
  margin: auto;
  padding: 20px;
  border: 1px solid #868686;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  min-height: auto;
  min-width: auto;
  max-width: 80%;
  margin-bottom: 5%;
}
.container-author-form .head_cont {
  margin-bottom: 20px;
}
.container-author-form .head_cont h1 {
  font-size: 24px;
  color: #333;
}
.container-author-form .list {
  position: relative;
  padding-bottom: 25%;
}
.container-author-form .list form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 75px;
  min-width: auto;
  min-height: auto;
}
.container-author-form .list form .form-group {
  width: 100%;
}
.container-author-form .list form .form-group label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 5px;
  font-weight: bold;
}
.container-author-form .list form .form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.container-author-form .list form .form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  max-height: 100px;
  min-height: 100px;
}
.container-author-form .list form .form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  max-height: 120px;
  min-height: 120px;
}
.container-author-form .list form .form-group.full-row {
  grid-column: span 2;
}
.container-author-form .list form .buttons-author {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.container-author-form .list form .buttons-author button {
  background: none;
  border: none;
  cursor: pointer;
}
.container-author-form .list .buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-top: 0rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.container-author-form .list .buttons button {
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 758px) {
  .container-author-form form {
    min-width: 50vh;
  }
}
@media screen and (max-width: 458px) {
  .container-author-form {
    max-width: 100%;
  }
}
.wrapper {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg, #5f5f5f 0%, #000000 100%);
  clip-path: circle(0px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}

#active:checked ~ .wrapper {
  clip-path: circle(75%);
}

.menu-btn {
  position: fixed;
  z-index: 101;
  right: 15px;
  top: 10px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(-45deg, #585858, #000000);
  transition: all 0.3s ease-in-out;
}

.menu-btn i::before {
  content: "☰";
  font-weight: 900;
  font-size: larger;
}

#active:checked ~ .menu-btn i:before {
  content: "✕";
  color: #f3f1f1;
  font-size: larger;
  font-weight: 900;
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.wrapper ul li {
  margin: 15px 0;
}

.wrapper ul li a {
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: #000;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}

.wrapper ul li a:after {
  position: absolute;
  content: "";
  background: #fff;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
  transform: scaleY(1);
}

.wrapper ul li a:hover {
  color: #fff;
}

input[type=checkbox] {
  display: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}

.content .title {
  font-size: 40px;
  font-weight: 700;
}

.content p {
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@media screen and (max-width: 800px) {
  .wrapper ul li a {
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  .menu-btn {
    right: 6px;
  }
}
.container-head {
  width: 100%;
  background-color: #f6f6f6;
}

.head {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 93%;
}
.head a {
  text-align: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.head a h1 {
  font-size: 2rem;
  font-family: "Noto Serif", serif;
  color: rgb(0, 0, 0);
}
.head a h2 {
  font-size: medium;
  font-family: "Noto Serif", serif;
  color: chocolate;
}
.head img {
  padding: 10px;
}

@media screen and (max-width: 500px) {
  .head {
    width: 90%;
  }
  .head a h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 350px) {
  .head {
    width: 80%;
  }
}
#new_books {
  width: 70%;
}

#new_authors {
  width: 30%;
}

@media screen and (max-width: 1000px) {
  #new_books {
    width: auto;
  }
  #new_authors {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 350px) {
  #new_authors {
    width: 100%;
    margin: auto;
  }
}
.container {
  z-index: -50;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  min-width: 100%;
}

/* Basic appearance stuff ends here */
/* Parallax Horizontal Scroller - by Bree Dulmage, 2020 */
#proparallax {
  display: block;
  position: relative;
  overflow: hidden;
  min-height: 20rem;
  box-shadow: 0px 8px 10px 8px grey;
}

#proparallax img {
  position: absolute;
  width: 100%;
  height: 37.5rem;
  overflow: hidden;
  object-fit: cover;
}

@keyframes parallax_one { /* controls img.one movement */
  0% { /* .imageloaded */
    height: 37.5rem;
    width: 100%;
    left: 0rem;
    opacity: 1;
  }
  /* .imagehold runs from 0 to 27.77% */
  27.77% { /* .imageloaded */
    width: 100%;
    left: 0rem;
  }
  27.78% { /* .imagepreunload */
    width: 50rem;
    left: 0rem;
    right: 50rem;
  }
  33.33% { /* .imageunloaded */
    height: 37.5rem;
    width: 0rem;
    left: 0rem;
    right: 0rem;
    opacity: 1;
  }
  33.34% { /* imageoff */
    opacity: 0;
  }
  94.43% { /* .imageon */
    left: 0rem;
    opacity: 0;
  }
  94.44% { /* .imageinitial */
    height: 37.5rem;
    width: 0rem;
    left: 50rem;
    opacity: 1;
  }
  100% { /* .imageloaded */
    width: 50rem;
    left: 0rem;
    opacity: 1;
  }
}
@keyframes parallax_two { /* controls img.two movement */
  0% { /* .imageoff */
    opacity: 0;
  }
  27.77% { /* .imageon */
    left: 0rem;
    opacity: 0;
  }
  27.78% { /* .imageinitial */
    width: 100%;
    height: 37.5rem;
    left: 50rem;
    opacity: 1;
  }
  33.33% { /* .imageloaded */
    width: 100%;
    left: 0rem;
  }
  /* .imagehold runs from 33.34% - 61.10% */
  61.10% { /* .imageloaded */
    width: 100%;
    left: 0rem;
  }
  61.11% { /* .imagepreunload */
    width: 50rem;
    left: 0rem;
    right: 50rem;
  }
  66.67% { /* .imageunloaded */
    width: 0rem;
    right: 0rem;
    left: 0rem;
    height: 37.5rem;
    opacity: 1;
  }
  66.68% { /* .imageoff */
    opacity: 0;
  }
  100% { /* .imageoff */
    opacity: 0;
  }
}
@keyframes parallax_three { /* controls img.three movement */
  0% { /* .imageoff */
    opacity: 0;
  }
  61.10% { /* .imageon */
    opacity: 0;
  }
  61.11% { /* .imageinitial */
    width: 100%;
    height: 37.5rem;
    left: 50rem;
    opacity: 1;
  }
  66.67% { /* .imageloaded */
    width: 100%;
    left: 0rem;
  }
  /* .imagehold runs from 66.67% - 94.43% */
  94.43% { /* .imageloaded */
    width: 100%;
    left: 0rem;
  }
  94.44% { /* .imagepreunload */
    width: 100%;
    left: 0rem;
    right: 50rem;
  }
  100% { /* imageunloaded */
    right: 0rem;
    left: 0rem;
    height: 37.5rem;
    opacity: 1;
  }
}
#proparallax img.one {
  animation-name: parallax_one; /* controls img.one movement */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 18s;
  animation-direction: forwards;
  object-fit: cover;
}

#proparallax img.two {
  animation-name: parallax_two; /* controls img.two movement */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 18s;
  animation-direction: forwards;
  object-fit: cover;
}

#proparallax img.three {
  animation-name: parallax_three; /* controls img.three movement */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 18s;
  animation-direction: forwards;
  object-fit: cover;
}

.categories-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: auto;
  height: auto;
  text-align: center;
}
.categories-container .box {
  padding: 1rem;
  width: 100%;
  background-color: rgba(184, 184, 184, 0);
  box-shadow: 1px black;
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
}
.categories-container .box img {
  margin: 15px;
  width: 60px;
}
.categories-container .box h4 {
  font-size: 1.1vw;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .categories-container {
    width: 80%;
  }
  .categories-container img {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .categories-container {
    display: none;
  }
}
section#container-new-books {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
}
section#container-new-books h4 {
  font-size: 2rem;
  text-align: left;
  color: chocolate;
  padding: 1rem;
}

.wrapper-card {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: 100%;
  margin-bottom: 5%;
}

.card {
  flex: 1;
  flex-basis: 200px;
  flex-grow: 0;
  height: 300px;
  background: rgba(0, 0, 0, 0.5019607843);
  box-shadow: 10px 10px rgb(50, 51, 51);
  border: 1px solid rgba(255, 255, 255, 0.4862745098);
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
  margin-top: 3%;
  text-decoration: none;
}

.card img {
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}
.descriptions h1 {
  font-size: 1rem;
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.descriptions p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 13; /* Número de líneas a mostrar antes del recorte */
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: 0.9rem;
  line-height: 15px;
  text-align: left;
  height: 75%;
  margin: 5px;
  margin-bottom: 1rem;
  color: #000000;
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) si se corta el texto */
}

.card:hover .descriptions {
  left: 0px;
  transition: all 0.7s ease-in-out;
  clip-path: circle(75%);
}

.card:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}

.card:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}

.card h1 {
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px;
}

.card button {
  width: fit-content;
  height: 30px;
  padding: 0.5rem;
  cursor: pointer;
  border-style: none;
  background-color: #ff3838;
  color: #fff;
  font-size: 0.8rem;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}

.card button:hover {
  transform: scale(0.95) translateX(-5px);
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 350px) {
  section#container-new-books {
    width: 100%;
    margin: auto;
  }
  section#container-new-books h4 {
    font-size: 1.2rem;
    text-align: center;
  }
  .card {
    flex-basis: 250px;
    height: 350px;
    margin-bottom: 10%;
  }
}
section#container-new-authors {
  background-color: #fff;
  height: auto;
  text-decoration: none;
  margin: auto;
}
section#container-new-authors h4 {
  border: 1px solid #000000;
  font-size: 1.5rem;
  text-align: left;
  color: #fff;
  padding: 1rem;
  background-color: #000000;
  border: 0.2rem solid transparent;
  border-image: linear-gradient(5deg, #444, #838383, #c7c7c7) 1;
}
section#container-new-authors .card-authors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  justify-content: center;
  padding: 1rem;
  margin: auto;
  overflow-y: auto;
  max-height: 70vh;
  border: 0.2rem solid transparent;
  border-top: none;
  border-image: linear-gradient(5deg, #000000, #000000, #a5a5a5) 1;
}
section#container-new-authors .card-authors a {
  text-decoration: none;
  border-bottom: 1px rgb(29, 28, 28) solid;
}
section#container-new-authors .card-authors a:first-child {
  margin-top: -1rem;
}
section#container-new-authors .card-authors a:last-child {
  border-bottom: none;
}
section#container-new-authors .card-authors .authors {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 5px 0 5px 0;
}
section#container-new-authors .card-authors .authors .photo_author img {
  border-radius: 50%;
  margin-left: 10px;
}
section#container-new-authors .card-authors .authors .description {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  min-width: 70%;
  color: black;
  border-left: 1px solid rgb(150, 147, 147);
  border-right: 1px solid rgb(150, 147, 147);
}
section#container-new-authors .card-authors .authors .description h1 {
  font-size: medium;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section#container-new-authors .card-authors .authors .description p {
  font-size: small;
  text-align: center;
  line-height: 0.8rem;
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section#container-new-authors .card-authors .authors .button {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 10px;
}
section#container-new-authors .card-authors .authors .button img {
  margin-right: 10px;
}

@media screen and (max-width: 350px) {
  section#container-new-authors {
    width: 100%;
    margin: auto;
  }
  section#container-new-authors h4 {
    font-size: 1.2rem;
    text-align: center;
  }
  .card {
    flex-basis: 250px;
    height: 350px;
    margin-bottom: 10%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
}

body {
  min-height: auto;
  height: 100vh;
  font-family: "Noto Serif", serif;
  background-color: #bdbdbd;
  margin: 0;
  padding: 0;
}
body #wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

#content-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 85%;
  gap: 10px;
}

@media screen and (max-width: 1000px) {
  #content-container {
    width: 100%;
    flex-flow: column wrap;
  }
}
footer {
  background-color: rgb(207, 123, 13);
  min-width: auto;
  height: auto;
  margin-top: 3%;
  margin-bottom: 0%;
  width: 100%;
  margin-top: auto;
}
footer .container-footer {
  margin-top: 10%;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 0.5rem;
  background-color: rgb(26, 23, 23);
  color: wheat;
  width: auto;
}
footer .container-footer section#container-description {
  text-align: start;
  width: 30%;
  padding: 1rem;
}
footer .container-footer section#container-description h5 {
  text-align: start;
  font-size: 15px;
  padding-bottom: 10px;
}
footer .container-footer section#container-description p {
  text-align: start;
  font-size: x-small;
  padding-bottom: 10px;
  line-height: 140%;
}
footer .container-footer .logo-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .container-footer .logo-container img {
  margin-bottom: 5px;
}
footer .container-footer .logo-container h1, footer .container-footer .logo-container h4 {
  font-size: 1rem;
  padding: 2px;
}
footer .container-footer .list-container {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  width: 30%;
  max-width: min-content;
  padding: 1rem;
}
footer .container-footer .list-container h6 {
  margin-bottom: 2rem;
  font-size: large;
}
footer .container-footer .list-container ul {
  list-style: none;
  font-size: small;
}
footer .container-footer .list-container ul > li:first-child {
  width: max-content;
  margin-bottom: 10px;
}
footer .end {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0.1rem 0.5rem 1rem;
}
footer .end .social-networks {
  width: 40%;
}
footer .end .social-networks img {
  width: 4%;
  height: auto;
  margin-left: 10px;
}
footer .end span {
  font-weight: 600;
  font-size: small;
  width: auto;
}

@media screen and (max-width: 1008px) {
  .social-networks img {
    min-width: 2rem;
  }
}
@media screen and (max-width: 500px) {
  footer .container-footer {
    width: 100%;
    justify-content: space-around;
    font-size: smaller;
  }
  footer .container-footer #container-description {
    display: none;
  }
  footer .container-footer .list-container {
    justify-content: center;
    width: 100%;
  }
  footer .container-footer .list-container h6 {
    margin-bottom: 2rem;
    font-size: smaller;
  }
  footer .container-footer .list-container ul {
    font-size: smaller;
  }
  footer .social-networks img {
    min-width: 1rem;
  }
}

/*# sourceMappingURL=index.css.map */
