@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Caveat:wght@400;600;700&family=Foldit:wght@100;400;500;600;700&family=Lilita+One&family=Permanent+Marker&family=Press+Start+2P&family=Rubik+Iso&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Caveat:wght@400;600;700&family=Foldit:wght@100;400;500;600;700&family=Lilita+One&family=Permanent+Marker&family=Press+Start+2P&family=Rubik+Iso&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Caveat:wght@400;600;700&family=Foldit:wght@100;400;500;600;700&family=Lilita+One&family=Permanent+Marker&family=Press+Start+2P&family=Rubik+Iso&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Caveat:wght@400;600;700&family=Foldit:wght@100;400;500;600;700&family=Lilita+One&family=Permanent+Marker&family=Press+Start+2P&family=Rubik+Iso&display=swap");
body {
  font-family: "Press Start 2P", "Foldit", "Alfa Slab One", "Permanent Marker", "Rubik Iso", "Caveat", "Lilita One ", "Anton", Arial, sans-serif;
  background-image: url(img/en.jpg);
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  background-color: rgba(72, 44, 12, 0.9098039216);
  border-bottom: 0px;
  border-top: 10px solid;
  border-left: 20px double black;
  border-right: 20px double black;
  padding-top: 20px;
  background-size: cover;
  width: 40%;
  border-radius: 20px;
}

.head h1 {
  font-family: "Lilita One ", "Anton", Arial, sans-serif, "Permanent Marker", "Alfa Slab One";
  font-size: 60px;
}

.head h1,
h4 {
  margin-top: 0px;
  color: #000000;
  text-align: center;
}

nav {
  height: 60px;
  width: 50%;
  font-size: 20px;
  background-color: rgba(26, 25, 25, 0.937254902);
  background-size: cover;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
}

nav ul {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 40px;
  color: #000000;
  text-decoration: none;
}

nav ul li a:hover {
  background-image: url(img/l-n.jfif);
  color: rgba(212, 117, 8, 0.876);
  background-size: cover;
  transform: scale(1.4);
  border-radius: 20px;
}

h2 {
  color: #000000;
}

input[type=button] {
  background-color: rgb(198, 99, 6);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.container {
  border: solid;
  border-width: 10px;
  border-top: 0px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  background-color: rgba(72, 44, 12, 0.7215686275);
  margin-top: 0px;
  min-height: 780px;
  padding: 20px;
  background-size: cover;
  width: 70%;
  align-items: center;
}

.head_cont {
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 10px;
}

.head_cont h2 {
  font-family: "Permanent Marker", Arial, sans-serif;
  font-size: 50px;
}

.list {
  padding: 0px;
  align-items: center;
  border-top: 5px double;
  border-bottom: 5px double black;
  max-width: 100%;
  padding: 10px;
  margin: 50px 0px 50px 0px;
}

.list ul {
  margin-left: 30px;
  list-style: none;
  color: #000000;
  padding: 20px;
}

.list a {
  text-decoration: none;
  color: rgb(198, 137, 6);
}

.list p {
  margin-left: 0px;
}

.container .botoms {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

body {
  font-family: "Press Start 2P", "Foldit", "Alfa Slab One", "Permanent Marker", "Rubik Iso", "Caveat", "Lilita One ", "Anton", Arial, sans-serif;
  background-image: url(img/en.jpg);
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  background-color: rgba(72, 44, 12, 0.9098039216);
  border-bottom: 0px;
  border-top: 10px solid;
  border-left: 20px double black;
  border-right: 20px double black;
  padding-top: 20px;
  background-size: cover;
  width: 40%;
  border-radius: 20px;
}

.head h1 {
  font-family: "Lilita One ", "Anton", Arial, sans-serif, "Permanent Marker", "Alfa Slab One";
  font-size: 60px;
}

.head h1,
h4 {
  margin-top: 0px;
  color: #000000;
  text-align: center;
}

nav {
  height: 60px;
  width: 50%;
  font-size: 20px;
  background-color: rgba(26, 25, 25, 0.937254902);
  background-size: cover;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
}

nav ul {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 40px;
  color: #000000;
  text-decoration: none;
}

nav ul li a:hover {
  background-image: url(img/l-n.jfif);
  color: rgba(212, 117, 8, 0.876);
  background-size: cover;
  transform: scale(1.4);
  border-radius: 20px;
}

h2 {
  color: #000000;
}

input[type=button] {
  background-color: rgb(198, 99, 6);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.container {
  border: solid;
  border-width: 10px;
  border-top: 0px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  background-color: rgba(72, 44, 12, 0.7215686275);
  margin-top: 0px;
  min-height: 780px;
  padding: 20px;
  background-size: cover;
  width: 70%;
  align-items: center;
}

.head_cont {
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 10px;
}

.head_cont h2 {
  font-family: "Permanent Marker", Arial, sans-serif;
  font-size: 50px;
}

.list {
  padding: 0px;
  align-items: center;
  border-top: 5px double;
  border-bottom: 5px double black;
  max-width: 100%;
  padding: 10px;
  margin: 50px 0px 50px 0px;
}

.list ul {
  margin-left: 30px;
  list-style: none;
  color: #000000;
  padding: 20px;
}

.list a {
  text-decoration: none;
  color: rgb(198, 137, 6);
}

.list p {
  margin-left: 0px;
}

.container .botoms {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

body {
  font-family: "Press Start 2P", "Foldit", "Alfa Slab One", "Permanent Marker", "Rubik Iso", "Caveat", "Lilita One ", "Anton", Arial, sans-serif;
  background-image: url(img/en.jpg);
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  background-color: rgba(72, 44, 12, 0.9098039216);
  border-bottom: 0px;
  border-top: 10px solid;
  border-left: 20px double black;
  border-right: 20px double black;
  padding-top: 20px;
  background-size: cover;
  width: 40%;
  border-radius: 20px;
}

.head h1 {
  font-family: "Lilita One ", "Anton", Arial, sans-serif, "Permanent Marker", "Alfa Slab One";
  font-size: 60px;
}

.head h1,
h4 {
  margin-top: 0px;
  color: #000000;
  text-align: center;
}

nav {
  height: 60px;
  width: 50%;
  font-size: 20px;
  background-color: rgba(26, 25, 25, 0.937254902);
  background-size: cover;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
}

nav ul {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 40px;
  color: #000000;
  text-decoration: none;
}

nav ul li a:hover {
  background-image: url(img/l-n.jfif);
  color: rgba(212, 117, 8, 0.876);
  background-size: cover;
  transform: scale(1.4);
  border-radius: 20px;
}

h2 {
  color: #000000;
}

input[type=button] {
  background-color: rgb(198, 99, 6);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.container {
  border: solid;
  border-width: 10px;
  border-top: 0px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  background-color: rgba(72, 44, 12, 0.7215686275);
  margin-top: 0px;
  min-height: 780px;
  padding: 20px;
  background-size: cover;
  width: 70%;
  align-items: center;
}

.head_cont {
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 10px;
}

.head_cont h2 {
  font-family: "Permanent Marker", Arial, sans-serif;
  font-size: 50px;
}

.list {
  padding: 0px;
  align-items: center;
  border-top: 5px double;
  border-bottom: 5px double black;
  max-width: 100%;
  padding: 10px;
  margin: 50px 0px 50px 0px;
}

.list ul {
  margin-left: 30px;
  list-style: none;
  color: #000000;
  padding: 20px;
}

.list a {
  text-decoration: none;
  color: rgb(198, 137, 6);
}

.list p {
  margin-left: 0px;
}

.container .botoms {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

body {
  font-family: "Press Start 2P", "Foldit", "Alfa Slab One", "Permanent Marker", "Rubik Iso", "Caveat", "Lilita One", "Anton", Arial, sans-serif;
  background-color: darkgrey;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  background-color: rgba(72, 44, 12, 0.9098039216);
  border-bottom: 0px;
  border-top: 10px solid;
  border-left: 20px double black;
  border-right: 20px double black;
  padding-top: 20px;
  background-size: cover;
  width: 40%;
  border-radius: 20px;
}
.head h1 {
  font-family: "Lilita One", "Anton", Arial, sans-serif, "Permanent Marker", "Alfa Slab One";
  font-size: 60px;
}
.head h1, .head h4 {
  margin-top: 0px;
  color: #000000;
  text-align: center;
}

nav {
  height: 60px;
  width: 50%;
  font-size: 20px;
  background-color: rgba(26, 25, 25, 0.937254902);
  background-size: cover;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 10px 40px;
  color: #000000;
  text-decoration: none;
}
nav ul li a:hover {
  background-image: url("img/l-n.jfif");
  color: rgba(218, 65, 0, 0.876);
  background-size: cover;
  transform: scale(1.4);
  border-radius: 20px;
}

h2 {
  color: #000000;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

input[type=button] {
  background-color: #0066cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.container {
  border: solid;
  border-width: 10px;
  border-top: 0px;
  border-radius: 100px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(72, 44, 12, 0.7215686275);
  margin: 0 auto;
  margin-top: 0px;
  min-height: 780px;
  padding: 20px;
  background-size: cover;
  width: 70%;
}
.container .head_cont {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.container .head_cont h1 {
  font-family: "Permanent Marker", Arial, sans-serif;
  font-size: 60px;
  margin: 0px 0px 0px 0px;
  overscroll-behavior-block: red;
}
.container .descr p {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  width: auto;
  border-top: 5px double;
  border-right: 5px solid black;
  border-left: 5px solid black;
  margin-bottom: 30px;
}
.container .books-section {
  flex: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 5px double;
  border-right: 5px solid black;
  border-bottom: 5px double black;
  max-width: 70%;
}
.container .books-section h2 {
  margin: 0px 0px 0px 0px;
  font-family: "Permanent Marker", "Rubik Iso", "Caveat", "Lilita One", "Anton", Arial, sans-serif;
  font-size: 50px;
}
.container .books-section ul li {
  font-size: 12px;
  margin: 0px 0px 0px 0px;
  padding: 10px;
}
.container .books-section hr.line-img {
  width: 600px;
  height: 200px;
  background-image: url("img/libr.jpg");
  background-repeat: repeat-x;
  background-position: center;
  border: none;
  border-radius: 20px;
}
.container .books-section hr.line1 {
  border-color: #0066cc;
  width: 400px;
}
.container .books-section hr.line2 {
  border-color: #0066cc;
  width: 300px;
}
.container .books-section hr.line3 {
  border-color: #0066cc;
  width: 400px;
}
.container .books-section hr.line4 {
  border-color: #0066cc;
  width: 300px;
}
.container .authors-section {
  padding: 20px;
  border-top: 5px double;
  border-bottom: 5px double black;
  margin-top: 50px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
}
.container .authors-section h2 {
  margin: 0px 0px 0px 0px;
  font-family: "Permanent Marker", "Rubik Iso", "Caveat", "Lilita One", "Anton", Arial, sans-serif;
  font-size: 50px;
}
.container .authors-section hr.line-img {
  width: 400px;
  height: 200px;
  background-image: url("img/lse.jfif");
  background-repeat: repeat-x;
  background-position: center;
  border: none;
  border-radius: 70px;
}
.container .authors-section hr.line1 {
  border-color: #0066cc;
  width: 400px;
}
.container .authors-section hr.line2 {
  border-color: #0066cc;
  width: 300px;
}
.container .authors-section hr.line3 {
  border-color: #0066cc;
  width: 400px;
}
.container .authors-section hr.line4 {
  border-color: #0066cc;
  width: 300px;
}
.container .authors-section ul li {
  flex: 1;
  padding: 20px;
  margin-right: 20px;
}
.container .users-section {
  flex: 1;
  padding: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 5px solid black;
  max-width: 700px;
}
.container .users-section h2 {
  margin: 0px 0px 0px 0px;
  font-family: "Permanent Marker", "Rubik Iso", "Caveat", "Lilita One", "Anton", Arial, sans-serif;
  font-size: 50px;
}
.container .users-section hr.line-img {
  width: 400px;
  height: 200px;
  background-image: url("img/users.png");
  background-repeat: repeat-x;
  background-position: center;
  border: none;
  border-radius: 50%;
}
.container .users-section ul li {
  margin-bottom: 10px;
}
.container .users-section hr.line1 {
  border-color: #0066cc;
  width: 400px;
}
.container .users-section hr.line2 {
  border-color: #0066cc;
  width: 300px;
}
.container .users-section hr.line3 {
  border-color: #0066cc;
  width: 400px;
}
.container .users-section hr.line4 {
  border-color: #0066cc;
  width: 300px;
}
.container .future-section {
  flex: 1;
  padding: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
}
.container .future-section h1 {
  margin: 0px 0px 0px 0px;
  font-family: "Rubik Iso", "Caveat", "Lilita One", "Anton", Arial, sans-serif;
  font-size: 50px;
}

/*# sourceMappingURL=style_index.css.map */
