// Estilos generales
.container-book-form {
    margin: auto;
    margin-bottom: 10%;
    padding: 20px;
    border: 1px solid #868686;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-height: auto;
    max-width: 90%;
    position: relative;
    .head_cont {
      margin-bottom: 20px;
  
      h1 {
        font-size: 24px;
        color: #333;
      }
    }
  
    .list {
    //  background-color: #007bff;
       
      form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: 100px;
        min-width: auto;
        min-height: 70vh;
       
        .form-group {
          width: 100%;
          margin-bottom: 15px;
       
          label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
          }
  
          input,
          select{
            width: 100%;

            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
          }

          textarea {
            width: 200%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;  
            max-height:150px;   
            min-height:150px;  

          }

        }
        
        .buttons{
          position: absolute;
          bottom: 10px;
      
        }
        
      }
    }
  }
  @media screen and (max-width:680px) {
  
      .form-group {

          &:last-child{
            margin-bottom: 10rem;
            color: red;
          }
        }
      }
    
  @media screen and (max-width:458px) {
    .container-book-form {
      margin: auto;
      max-width: 100%;
      
      }
    }
    
  
  