
#container-book-detail{
    // background-color: rgb(237, 238, 238);
    width: 70%;
    min-height: 10vh;
    height: auto;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
   
    img{
        flex: 1;
        flex-basis: 300px;
        flex-grow: 0;
        height: 400px;
        margin-bottom: 2rem;
        box-shadow: -10px -10px rgb(50, 51, 51);
        cursor: pointer;
        margin-top: 3%;
    }

    .detail{
        width: 60%;
        min-height: 50vh;
        padding:10px;
        margin-right: 10px;
        box-shadow:  -10px -10px 20px 0px rgb(50, 51, 51);
       span{
        color: black;
       }
        h3{
            margin-bottom: 1rem;
        }

        ul{
            letter-spacing: 0.1px;
            list-style: none;
            text-align: left;
            li:nth-last-child(1),li:nth-last-child(2){
                margin-top: 1.5rem;
            }
            span{
                font-weight: 700;
            }
        }
     
        .buttons{
            margin-top: 2rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            button{
                background: none;
                border: none;
                cursor: pointer;
            }
         
            // button {
            //     --b: 3px;   /* border thickness */
            //     --s: .15em; /* size of the corner */
            //     --c: #BD5532;
                
            //     padding: calc(.05em + var(--s)) calc(.3em + var(--s));
            //     color: var(--c);
            //     --_p: var(--s);
            //     background:
            //       conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
            //       var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
            //     transition: .3s linear, color 0s, background-color 0s;
            //     outline: var(--b) solid #0000;
            //     outline-offset: .2em;
                
               
            //   }
            //   button:hover,
            //   button:focus-visible{
            //     --_p: 0px;
            //     outline-color: var(--c);
            //     outline-offset: .05em;
            //   }
            //   button:active {
            //     background: var(--c);
            //     color: #fff;
            //   }
              
            
            //   button {
            //     font-family: system-ui, sans-serif;
            //     font-weight: bold;
            //     font-size: 4rem;
            //     cursor: pointer;
            //     border: none;
            //     margin: .1em;
            //   }
        }
    }



}