// Colors
$primary-color: #000000;
$secondary-color: #fff;
$text-color-primary:  #4c848e;
$text-color-secondary:  chocolate;
$primary-background-color: #f6f6f6;
$secondary-background-color: #bdbdbd;

//color logo 

//blacks
$first-color:#efefef;
$second-color:#dcdcdc;
$third-color:#bdbdbd;
$fourth-color:#989898; 
$five-color:#7c7c7c; 
$six-color:#656565; 
$seven-color:#525252; 
$eight-color:#464646; 
$nine-color:#3d3d3d; 
$ten-color:#292929;

// orange-brown
// #fbefd9
// #f5dcb3
// #efc482
// #e2882d
// #d37023
// #b0571e
// #8c4520
// #713a1d
// #3d1c0d


// orange
// #fdd58a
// #fcb94d
// #fba42f
// #f57c0b
// #d95806
// #b43a09
// #922d0e
// #78260f
// #451003

// // blue
// #f2f8f9
// #dfedee
// #c2dbdf
// #98c1c8
// #679fa9
// #4c848e
// #416d79
// #3a5a64
// #354c55
// #2e3f46
// #1c2a30
$body-fonts: 'Noto Serif', serif;

// other
$border-radius: 5px;