footer{
    background-color: rgb(207, 123, 13);
    min-width: auto;
    height: auto;
    margin-top: 3%;
    margin-bottom: 0%;
    width: 100%;
    margin-top: auto;

    .container-footer{
        margin-top: 10%;
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        padding: 0.5rem;
        background-color: rgb(26, 23, 23);
        color: wheat;
        width: 100%;
        
        section#container-description{
            text-align: start;
            width: 30%;
            padding: 1rem;

            h5{
                text-align: start;
                font-size: 15px;
                padding-bottom: 10px;
            }
            p{
                text-align: start;
                font-size: x-small;
                padding-bottom: 10px;
                line-height: 140%;
            }
        }
       

        .logo-container{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            img{
                margin-bottom: 5px;
            }
            h1, h4{
                font-size: 1rem;
                padding: 2px;
            }
            
        }
    
        .list-container{
            text-align: start;
            display: flex;
            justify-content:space-between;
            flex-flow: column wrap;
            width: 30%;
            max-width: min-content;
            padding: 1rem;
            
            h6{
                margin-bottom: 2rem;
                font-size: large;
            }
            ul{
                list-style: none;
                font-size: small;
            }
            ul>li:first-child{
                font-size:small ;
                width: max-content;
                margin-bottom: 10px;
            }
            
        }
    }

    .end{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding:0.5rem 0.1rem 0.5rem 1rem;

        .social-networks{
           
            width:40%;
           
            img{
                width: 4%;
                height: auto;
                margin-left: 10px;
            }
        }
        span{
            font-weight: 600;
            font-size: small;
            width: auto;
    
        }
    }

}


@media screen and (max-width:1008px){
    .social-networks{
        img{
            min-width: 2rem;
       
        }
    }
}
@media screen and (max-width:500px) {
    .container-footer{
        width: auto;
        background-color: aqua;
        font-size:smaller;
    }
    .social-networks{
        img{
            min-width: 1rem;
       
        }
    }
}

@media screen and (max-width:500px) {
    #container-description{
        display: none;
    }
    
}
