

#new_books {
    width: 70%;
    height: fit-content;
    margin-right: 20px;
}
#new_authors {
    width:30%; 

}
@media screen and (max-width:1500px) {
    
    #new_books {
        width: auto;
    }
    #new_authors {
        width: 55%; 
        margin-left: 5%;
    }

}
@media screen and (max-width:1050px) {
    
    #new_books {
        width: auto;
        margin-bottom: 0;
    }
    #new_authors {
        margin-top: 0px;
        margin: auto;
        width: 80%; 
    }

}
@media screen and (max-width:350px) {
  
    #new_authors {
        width: 98%; 
        margin: auto;
    }

}
