.categories-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    // background-color: aqua;
    height: auto;
    text-align: center;
    .box{
        width: 100%;
        background-color: rgba(184, 184, 184, 0);
        box-shadow: 1px black ;
      
        ul{
            display: flex;
            flex-flow: row nowrap;
            list-style: none;
            align-items: center;
            margin: 0;
            width: 100%;
           li{
            cursor: pointer;
            width: auto;
            width:fit-content;
            padding: 5px 5px 5px 5px;
            color:white;
            text-align: center;
            border: 2px rgba(0, 0, 0, 0.795) solid;
            background-color: rgba(0, 0, 0, 0.712);
            transition: all 0.2s ease;
            &:first-child{
                padding: 14px 5px 14px 5px;

            }
            &:hover{
                transform: scale(0.9);
            }
           }
        }
        img{
            margin:15px;
            width: 60px;
        }
        h4{
            font-size: 1.1vw;
            font-weight:500;
        }
    }
}

@media screen and (max-width:768px) {
    .categories-container{
        width: 80%;

        img{
            width: 50%;
        }
     
    }
}

@media screen and (max-width:500px) {
    .categories-container{
      display: none;
     
    }
}