section#container-new-books{
    display: flex;
    flex-flow: column wrap;
    // background-color: bisque;
    width: 100%;
    height: auto;

    .header-new-books{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $primary-color ;
        text-align: left;
        padding: 10px;
        // background-color: $primary-color;
        border:  0.2rem solid transparent;
        border-image: linear-gradient(5deg, #300000, #ad5706, #b87e3d) 1;
        h4{
            font-size: 2rem;
            text-align: left;
            color: $text-color-secondary;
            padding: 10px;
        }
        button{
            padding: 5px;
            background: none;
            color: $text-color-secondary;
            border-image: linear-gradient(5deg, #300000, #ad5706, #b87e3d) 1;
            &:hover{
                transform: scale(0.9);
            }

            span{
                font-size: 2.2rem;

            }
        }
    }
   
}

.wrapper-card{
    // position: absolute;
    // top:80%;
    // left:0%;
    // transform: translate(-50%, -50%);
    // background-color: aliceblue;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width:100%;
    max-width: 100%;
    margin-bottom: 5%;

}
.card{
    flex: 1;
    flex-basis: 190px;
    flex-grow: 0;
    height: 250px;
    background: #00000080;
    box-shadow: 10px 10px rgb(50, 51, 51);
    border: 1px solid #ffffff7c;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    overflow: hidden;
    position: relative;
    margin-top: 3%;
    text-decoration: none;
}
.card img{
    width: 100%;
    height:100%;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}
.descriptions{
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(255,255,255,.7);
    width:100%;
    height:100%;
    transition: all .7s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    clip-path: circle(0% at 100% 100%);
    h1{
        font-size: 1rem;
        max-height: 200px; 
        overflow: hidden;
        text-overflow: ellipsis; 
        white-space: nowrap; 
    }
    p{

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 13; /* Número de líneas a mostrar antes del recorte */
        -webkit-box-orient: vertical;
        white-space: normal;

        // background-color: rgba(124, 124, 124, 0.199);
        font-size: 0.9rem;
        line-height: 15px;
        text-align: left;
        height: 75%;
        // max-height: 100%; 
        margin: 5px;
        margin-bottom: 1rem;

        color: #000000;
        text-overflow: ellipsis; /* Agrega puntos suspensivos (...) si se corta el texto */
    }
}

.card:hover .descriptions{
    left:0px;
    transition: all .7s ease-in-out;
    clip-path: circle(75%);
}
.card:hover{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    box-shadow: 0px 2px 3px rgba(0,0,0,.3);
    transform: scale(.97);
}
.card:hover img{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
}
.card h1{
    color: #ff3838;
    letter-spacing: 1px;
    margin: 0px;
}

.card button{
    width: fit-content;
    height: 30px;
    padding: 0.5rem;
    cursor: pointer;
    border-style: none;
    background-color: #ff3838;
    color:#fff;
    font-size: 0.8rem;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,.4);
    transition: all .5s ease-in-out;
}
.card button:hover{
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}

@media screen and (max-width:350px) {
    section#container-new-books{
     
        width: 100%;
        margin: auto;
    
        h4{
            font-size: 1.2rem;
            text-align: center;
        }
    }
   
    .card{

        flex-basis: 250px;
        height: 350px;
        margin-bottom: 10%;

    }
}