section#container-new-authors{

    background-color: $secondary-color;
    margin-top: 4rem;
    height: auto;
    text-decoration: none;
    min-width: 100%;

    h4{
        border: 1px solid $primary-color ;
        font-size: 1.5rem;
        text-align: left;
        color: $secondary-color;
        padding: 1rem;
        background-color: $primary-color;
        border:  0.2rem solid transparent;
        border-image: linear-gradient(5deg, #444, #838383, #c7c7c7) 1;
    }

    .card-authors{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 1rem;
        margin: auto;
        overflow-y: auto;
        max-height: 100vh;
        border: 0.2rem solid transparent;
        border-top:none ;
        border-image: linear-gradient(5deg, #000000, #000000, #a5a5a5) 1;
       
        a{
            text-decoration: none;

        }
    
        .authors{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
     
            
            img{
                border-radius: 50%;
                
            }

            .description{
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;                
                margin:1rem;
                color: black;
                // max-width: 100%;
             
                p{

                    padding-top: 5px;
                }
            
            } 

            .button{
                cursor: pointer;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                align-items: center;
                padding: 0px;
                width: auto;
                border: none;
                background-color: #0000;

                span{
                    display: none;
                    color: red;
                }
            }
         
        }
        
    }
}
@media screen and (max-width:350px) {
    section#container-new-authors{
     
        width: 100%;
        margin: auto;
    
        h4{
            font-size: 1.2rem;
            text-align: center;
        }
    }
   
    .card{

        flex-basis: 250px;
        height: 350px;
        margin-bottom: 10%;

    }
}
