section#container-new-authors{
    background-color: $secondary-color;
    height: auto;
    text-decoration: none;
    margin: auto;
    
    .header-new-authors{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $primary-color ;
        text-align: left;
        padding: 10px;
        background-color: $primary-color;
        border:  0.2rem solid transparent;
        border-image: linear-gradient(5deg, #444, #838383, #c7c7c7) 1;
        h4{
            font-size: 1.7rem;
            text-align: left;
            color: $secondary-color;
            padding: 10px;
        }
        button{
            padding: 5px;
            background: none;
            color:rgb(255, 255, 255);
            &:hover{
                transform: scale(0.9);
            }
            span{
                font-size: 2.2rem;
            }
        }
    }

    .card-authors{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        justify-content: center;
        padding: 1rem 0rem 0rem 0rem;
        margin: auto;
        overflow-y: auto;
        max-height: 70vh;
        border: 0.2rem solid transparent;
        border-top: none;
        border-image: linear-gradient(5deg, #000000, #000000, #a5a5a5) 1;
     
        a{
            text-decoration: none;
            border-bottom:1px rgb(29, 28, 28) solid;
        }
        
        a:first-child{
            margin-top: -1rem;
        }
      
        a:last-child{
            border-bottom:none;
        }
        .authors{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            margin: 5px 0 5px 0;

            .photo_author{ 
                // border-left:10px double rgb(150, 147, 147)  ;
                img{
                    border-radius: 50%;
                    margin-left: 10px;
                }
            }   
           
            .description{
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;                
                margin:0.5rem;
                min-width: 70%;
                color: black;
                border-left: 1px solid rgb(150, 147, 147);
                border-right: 1px solid rgb(150, 147, 147);
                h1{
                    font-size: medium;
                    max-height: 100px; 
                    overflow: hidden;
                    text-overflow: ellipsis; 
                    white-space: nowrap; 
                }
                p{
                    font-size: small;
                    text-align: center;
                    line-height: 0.8rem;
                    max-height: 200px; 
                    overflow: hidden;
                    text-overflow: ellipsis; 
                    white-space: nowrap; 
                }
            } 

            .button{
                cursor: pointer;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                align-items: center;
                width: fit-content;
                padding: 5px;
                border: none;
                background:none;
                // margin-right: 10px;
                &:hover{
                    border-radius: 100px;
                    background-color: #0000005d;
                    transform: scale(1.1);
                   
                }
                
            }
        }
    }
}
@media screen and (max-width:350px) {
    section#container-new-authors{
        width: 100%;
        margin: auto;
        h4{
            font-size: 1.2rem;
            text-align: center;
        }
    }
    .card{
        flex-basis: 250px;
        height: 350px;
        margin-bottom: 10%;
    }
}
