@import 'common/variables.scss';

@import 'view_books/style_book_list.scss';
@import 'view_books/style_book_detail.scss';
@import 'view_books/style_book_edit.scss';


@import 'view_authors/style_author.scss';
@import 'view_authors/style_author_list.scss';

@import 'header/style_nav.scss';
@import 'header/style_head.scss';

@import 'home/style_home.scss';
@import 'home/style_slider.scss';
@import 'home/style_categories.scss';
@import 'home/style_new_books.scss';
@import 'home/style_new_authors.scss';

@import 'layout.scss';

@import 'shared/style_footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Caveat:wght@400;600;700&family=Foldit:wght@100;400;500;600;700&family=Lilita+One&family=Permanent+Marker&family=Press+Start+2P&family=Rubik+Iso&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    height: 100vh;
    font-family: $body-fonts;
    background-color: $secondary-background-color;
    min-width: 100vh;

}


