#content-container {
    margin-top: 2rem;
    // padding:0 10rem 0 10rem;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    // background-color: red;
    width:85% ;
    gap: 10px;
    
}

@media screen and (max-width:1000px) {
    #content-container{
        flex-flow: column wrap;
    }
}