.container-head{
    width: 100%;
    background-color: rgba(240, 255, 255, 0.719);

}
.head{
 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100px; 
    width: 80%;
    margin-right: 20%;
    // margin: 0 auto; /* Utiliza margen automático en lugar de margen derecho */
    // max-width: 80%; /* Limita el ancho al 80% del contenedor padre */
   
    a{
        text-align: center;
        color: rgb(129, 129, 12);
        text-decoration: none;
    }
    img{
        padding: 10px;
    }


}