footer{
    background-color: rgb(207, 123, 13);
    min-width: auto;
    margin-top: 40%;
    height: auto;
    width: 100%;
    
    .container-footer{
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        padding: 0.5rem;
        background-color: rgb(26, 23, 23);
        color: wheat;

        section#container-description{
            background-color: black;
            text-align: start;
            max-width: 20vh;
            padding: 1rem;

            h5{
                text-align: start;
                font-size: larger;
                padding-bottom: 10px;
            }
            p{
                text-align: start;
                font-size: x-small;
                padding-bottom: 10px;
            }
        }
       

        .logo-container{
            max-width: 20vh;
        }
    
        .list-container{
            text-align: start;
            max-width: 20vh;
           padding: 1rem;
            
            h6{
                margin-bottom: 0.8rem;
                font-size: large;
            }
            ul{
                list-style: none;
                font-size: small;
            }
            ul>li{
                padding: 0.5rem;
            }
        }
    }

    .end{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding:0.5rem 2rem 0.5rem 2rem;

        .social-networks{
            background-color: aquamarine;
        }
        span{
            font-weight: 600;
        }
    }

}